.grid {
    -fx-border-color: black;
    -fx-border-width: 2px;
}

.cell {
    -fx-border-color: grey;
    -fx-border-width: 1px;
}

.cell-assigned-value {
    -fx-text-fill: blue;
    -fx-font-size: 3em;
}

.cell-given-value {
    -fx-text-fill: black;
    -fx-font-size: 3em;
}

.cell-value-conflict {
    -fx-text-fill: red;
}

.cell-possible-value {
    -fx-text-fill: grey;
    -fx-font-size: 1.5em;
}

.cell-focus {
    -fx-background-color: yellow;
}
